[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.5"

[packages]
"0867da8" = {path = "./../devel/dropbox-sdk-python"}
toml = "*"

[dev-packages]
ipython = "*"
